{% extends 'base.html' %}

{% block title %}printer{% endblock %}

{% block active %}
<div class="navbar-nav nav-tabs">
    <a class="nav-link " aria-current="page" href="{{ url_for('home') }}">All Products</a>
    <a class="nav-link " href="{{ url_for('laptop') }}">Laptop</a>
    <a class="nav-link active" href="{{ url_for('printer') }}">Printer</a>
    <a class="nav-link " href="{{ url_for('desktop') }}">Desktop</a>
  </div>
  <div class="navbar-nav nav-tabs ms-auto">
      <a class="nav-link " href="{{ url_for('history') }}">Purchase History</a>
      <a class="nav-link " href="{{ url_for('cart') }}">My Cart</a>
      <a class="nav-link " href="{{ url_for('profile') }}">{{session.Email}}</a>
      <a class="nav-link " href="{{ url_for('logout') }}">LogOut</a>
</div>


{% endblock %}


{% block body %}
<section class="h-100" >
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        {% for row in data %}
        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              
              <div class="col-md-12 col-lg-12 col-xl-12">
                  <h1 class="lead fw-normal mb-2">{{row['Pname']}}</h1>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3">
                  <p><span class="text-muted">Description: </span>{{row['PDescription']}} </p>
                  <p><span class="text-muted">Product ID: </span>{{row['ProductID']}}</p>
                </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p><span class="text-muted">Type: </span>{{row['PType']}} </p>
                <p><span class="text-muted">Shelves: </span>{{row['Shelves']}}</p>
                <p><span class="text-muted">Material: </span>{{row['Material']}}</p>
            </div>
              <div class="col-md-3 col-lg-3 col-xl-3 ">
                <h5 class="">$  {{row['PPrice']}}</h5>
                <a class="btn btn-secondary " style="background-color: rgb(164, 25, 164)" href="/add_to_cart/{{row['ProductID']}}">Add to Cart</a>
              </div>
            
            </div>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>
</section>
{% endblock %}